<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573201095214-sgapunovnu9bclbcku9a7qpo5u4ud651.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573201095214-sgapunovnu9bclbcku9a7qpo5u4ud651</string>
	<key>API_KEY</key>
	<string>AIzaSyBmJ-rMZ-QEtIw7-N6JF9oespND4AkcnFE</string>
	<key>GCM_SENDER_ID</key>
	<string>573201095214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.QSHPQ</string>
	<key>PROJECT_ID</key>
	<string>storefilern</string>
	<key>STORAGE_BUCKET</key>
	<string>storefilern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573201095214:ios:d88a290e722e182dd59dbf</string>
</dict>
</plist>